apiVersion: v1
kind: Service
metadata:
  name: clinic-service-db
  namespace: healthpro
spec:
  ports:
    - port: 5432
      targetPort: 5432
  clusterIP: None
  selector:
    app: clinic-service-db
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: clinic-service-db
  namespace: healthpro
spec:
  serviceName: clinic-service-db
  replicas: 1
  selector:
    matchLabels:
      app: clinic-service-db
  template:
    metadata:
      labels:
        app: clinic-service-db
    spec:
      containers:
        - name: postgres
          image: postgres:latest
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: healthpro-secrets
                  key: DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: healthpro-secrets
                  key: DB_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: healthpro-secrets
                  key: DB_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi