spring:
  application:
    name: clinic-service

  datasource:
    url: jdbc:postgresql://localhost:5001/health_pro
    username: root
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always
      data-locations: ""

server:
  port: 8081