apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: healthpro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: healthpro/api-gateway:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4004
          envFrom:
            - configMapRef:
                name: api-gateway-config
