apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: healthpro
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 4004
      targetPort: 4004
  type: LoadBalancer